@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
body
{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Cascadia code";
}

.body-div
{
    width: 100%;
    height: 100%;
}
img
{
    width:100%;
    height:100%;
}

nav
{
    width: 100%;
    height: 70px;
    background-color: #fe6c3f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bolder;
    color: #345e52;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.737) 0px 1px 3px -1px;
}

.container
{
    width: calc(100%);
    height: calc(100% - 70px);
    margin:  0px auto;
    display: flex;
    background-color: #FFFBE6;
}

.sidebar
{
    width: calc(16% - 8px);
    height: calc(100% - 16px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #37966f;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.content
{
    width: calc(82%);
    height: calc(100% - 16px);
    margin: auto;
    border-radius: 8px;
}

.card1{
    background-color: #b9e4c9;
    grid-area: card1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card2{
    background-color: #FAE6B1;
    grid-area: card2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-image: url(/images/slideshow-recommended/image1.jpg);
    background-size: cover;
    background-position: center;
    transition: 2s;
    
}

.card3{
    background-color: #FAE6B1;
    grid-area: card3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-image: url(/images/card3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

}

.card4{
    background-color: #FAE6B1;
    grid-area: card4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-image: url(/images/slideshow-trending/image1.jpg);
    background-size: cover;
    background-position: center;
    transition: 2s;
}

.card5{
    background-color: #b9e4c9;
    grid-area: card5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card5:hover, .card4:hover, .card3:hover, .card2:hover, .card1:hover{
    cursor: pointer;
    border: 2px groove black;
}

.sidebar-links{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    
}

ul li
{
    padding: 20px;
    overflow: hidden;
}

ul li a
{
    text-decoration: none;
    color:#b9e4c9;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.2s;
}
a:hover
{
    color: white;
    font-size: 1.201rem;
}

.greet-head
{
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bolder;
    color: #B3DEE5;
}
.greet-text
{
    margin: 0px auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.greet-foot
{
    height: auto;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content:center;
    align-items:end;
    font-size: 2rem;
    font-weight: bolder;
    color: #B3DEE5;

}

.icons
{
    width: 40px;
    height: 40px;
    
}

.trending
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
}

.recommended
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
}

.card1 p {
    text-align: center;
    font-size: 1.05rem;
    font-family: "Oxygen";
}
.card1 span {
    text-align: center;
    font-size: 1.5rem;
}

.card5 span{
    text-align: center;
    font-size: 1.5rem;
}

.card5 ul li{
    padding: 0;
    margin: 0;
    font-family: "Oxygen";
}
.card5 ul li a{
    font-size: 1rem;
    font-weight: normal;
    color: #000;
}


.home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "card1 card3 card4" "card2 card3 card4" "card2 card3 card5";
    gap: 8px;
}

.North{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.North .header{
    width: 100%;
    height: 60px;
    margin: auto 0px;
    color: #FD5523;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
}

.North .items{
    width: 100%;
    height: calc(100% - 60px);
    margin: 2px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.North .items .veg{
    width: calc(50% - 6px);
    height: 100%;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    scrollbar-width: 0px;
}
.North .items .non-veg{
    width: calc(50% - 6px);
    margin-left: 6px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
}

.North .items .non-veg ::-webkit-scrollbar {
    display: none;
}
.North .items .veg ::-webkit-scrollbar{
    display: none;
    scrollbar-width: 0;
}

.Title{
    width: 100%;
    height: 40px;
    background-color:#37966f;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    color:white;

}
.item-info{
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;
    font-family: "Oxygen";

}

.item-cards{
    width: calc(100% - 12px);
    height: 50%;
    margin:  16px auto;
    display: flex;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background-color: #b9e4c9;
}

.item-cards img{
    width: calc(40% - 12px);
    height: 100%;
    margin: 0px 12px 0px 0px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.item-cards .info{
    width: calc(60% - 12px);
    height: 90%;
    margin: auto 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-cards .info header{
    width: 100%;
    height: calc(15% - 8px);
    margin: 0px 0px 8px 0px;
}

.item-cards .info p{
    width: 100%;
    height: calc(70% - 8px);
    margin: 0px 0px 8px 0px;
}

.item-cards .info footer{
    width: 100%;
    height: 15%;
}